/* 
.exp-table {
   border-collapse: collapse;
  width: 70%;
  margin-top: 10px;
}

.exp-table th,
.exp-table td {
  border: 1px solid black;  
  padding: 8px;
  text-align: center;
}

.exp-table th {
 background-color: #f2f2f2;
} */
