body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0c0b08;
  color: white;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background: #000;
}

.navbar a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

.btn-outline {
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 6px 14px;
}

.btn-main {
  background: white;
  color: black;
  border: none;
  padding: 6px 14px;
  margin-left: 10px;
}
.hero {
  padding: 120px 80px;
}

.icon {
  width: 70px;
}

.big {
  padding: 12px 24px;
  margin-top: 20px;
}
.versions {
  display: flex;
  gap: 30px;
  padding: 60px 80px;
}

.os-box {
  background: #161512;
  padding: 30px;
  width: 250px;
  border: 1px solid #2a2a2a;
}
.old {
  padding: 60px 80px;
}

.old p {
  border-bottom: 1px solid #333;
  padding: 10px 0;
}
.footer {
  display: flex;
  justify-content: space-around;
  padding: 80px;
  background: #000;
}

.footer h4 {
  margin-bottom: 10px;
}

.footer p {
  color: #aaa;
}
